.buttonDiv {
	width: 100vh;
	height: 70px;
	display: inline;
	opacity: .8; 
	
	button {
		height: 70px;
		width: 14%;
		border: none;
		margin-bottom: 20px;

		&.play {
			background-repeat: no-repeat;
			background-color: black;
		}

		&.pause {
			background-color: #696969;
			&:hover{
						background-color: #808080;
			}
		}

		&.clear {
			background-color: gainsboro;
			color: dimgray;
		}

		&.color{	
			&#blue {
				background-color: #112A73;
					&:hover{
						background-color: #275EFF;
					}
			}

			&#yellow {
				background-color: #715611;
					&:hover{
						background-color: #FEC227;
					}
			}	

			&#green {
				background-color: #147E21;
					&:hover{
						background-color: #28FE42;
					}
			}

			&#purple {
				background-color: #4B177E;
					&:hover{
						background-color: #972EFE;
					}
			}
		}	
	}		
}
