.buttonColorDiv {
	height: 100vh;
	width: 70px;
	display: block;
	opacity: .7;
	float: right; 
	position: aboslute;
    top: 0px;	

	button {
		width: 70px;
		height: 16.6%;
		border: none;
		outline: none;
		margin-right: 20px;


		&.color{	
			&#blue {
				background-color: #196D85;
					&:hover {
						background-color: #5ADBFF;
					}
					&:active {
						background-color: #5ADBFF;
					}
			}
			&#yellow {
				background-color: #F1BF28;
					&:hover{
						background-color: #FFE468;
					}
			}	
			&#green {
				background-color: #166C3F;
					&:hover{
						background-color: #4FDE95;
					}
			}
			&#purple {
				background-color: #4B177E;
					&:hover{
						background-color: #972EFE;
					}
			}
			&#red {
				background-color: #7F3649;
					&:hover{
						background-color: #FF81A1;
					}
			}
			&#brown {
				background-color: #99412E;
					&:hover{
						background-color: #FF8168;
					}
			}
		}	
	}		
}

.buttonControlsDiv {
	height: 100vh;
	width: 70px;
	display: block;
	opacity: .7;
	float: left; 

	button {
		width: 100%;
		height: 33.33%;
		outline: none;
		border: none;

		&.play {
			background-image: url('/assets/play_icon.png');
			background-size: 100%;
			background-position: center; 
			background-repeat: no-repeat;
			background-color: black;
			&:hover{
						background-color: #363636;
			}
		}

		&.pause {
			background-image: url('/assets/pause-icon.png');
			background-size: 100%;
			background-position: center; 
			background-repeat: no-repeat;
			background-color: #555555;
			&:hover{
						background-color: #7D7D7D;
			}
		}

		&.clear {
			background-image: url('/assets/clear-icon.png');
			background-size: 100%;
			background-position: center; 
			background-repeat: no-repeat;
			background-color: #959595;
			&:hover{
						background-color: #B7B7B7;
			}
		}
	}
}		
