.buttonDiv {
	width: 70px;
	height:100vh;
	display: block;
	float: left;
	opacity: .8; 
	margin-right: 60px;
	
	button {
		color: gainsboro;
		width: 100%;
		height: 14.4%;
		border: none;
		
		&.play {
			background-repeat: no-repeat;
			background-color: black;
		}

		&.pause {
			background-color: #696969;
			&:hover{
						background-color: #808080;
			}
		}

		&.clear {
			background-color: gainsboro;
			color: dimgray;
		}

		&.color{	
			&#blue {
				background-color: #112A73;
					&:hover{
						background-color: #275EFF;
					}
			}

			&#yellow {
				background-color: #715611;
					&:hover{
						background-color: #FEC227;
					}
			}	

			&#green {
				background-color: #147E21;
					&:hover{
						background-color: #28FE42;
					}
			}

			&#purple {
				background-color: #4B177E;
					&:hover{
						background-color: #972EFE;
					}
			}
		}	
	}		
}
