header{
	color: white;
	margin: 90px;

	h1 {
		display: inline-block;
		font-family: 'Ubuntu', sans-serif;
		font-size: 36px;
		font-weight: 400;
		text-transform: uppercase;
		padding: 6px;

	}
	.menuDiv{
		font-family: 'Source Sans Pro', sans-serif;
		padding: 8px;
		a {
			font-weight: 300;
			display: inline-block;
			color:white;
			text-decoration: none;
		}
		h2 {
			font-weight: 300;
			display: inline-block;
			font-size: 20px;
			padding-left: 8px;
			&:hover {
				cursor: pointer;
				color: #5ADBFF;
			}
		}
	}
}	
