.modals {
	opacity: 0;
	z-index: -3;
	position: absolute;
	left: 200px;
	top: 200px;
	font-family: Ubuntu;
	font-size: 20px;
	.logIn {
		padding: 20px;
		width: 500px;
		height: 200px;	
		background-color: black;
		input{
			display: block;
			font-family: Ubuntu;
			font-size: 20px;
			border:0;
  		border-bottom: 2px dotted;
			background-color: transparent;
			color: white;
		}
	}
	.register {
		padding: 20px;
		width: 700px;
		height: 200px;	
		background-color: black;
		input{
			display: block;
			font-family: Ubuntu;
			font-size: 20px;
			border:0;
  		border-bottom: 2px dotted;
			background-color: transparent;
			color: white;
			}
	}
	.userView {
		width: 200px;
		height: 400px;	
		background-color: red;
	}
	#exit {
		width: 60px;
		height: 60px;
		position: absolute;
		top: 2px;
		right: 2px;
		background-image: url('/assets/exit_icon.png');
		background-size: 100%;
		background-position: center; 
	}

}