.modals {
	opacity: 0;
	z-index: -3;
	position: absolute;
	left: 350px;
	top: 100px;
	.logIn {
		width: 200px;
		height: 400px;	
		background-color: yellow;
	}
	#exit {
		width: 60px;
		height: 60px;
		border-radius: 6px;
		position: absolute;
		top: 2px;
		right: 2px;
		background-image: url('/assets/exit_icon.png');
		background-size: 100%;
		background-position: center; 
	}

}