.modals {
	opacity: 0;
	z-index: -3;
	position: absolute;
	width: 80vw;
	height: 0;
	left: 10%;
	font-family: Ubuntu;
	font-size: 20px;
	.logInModal {
		.logIn {
			width: 250px;
			height: 250px;
			overflow: hidden;
			margin: 15% auto;
			padding: 20px;
			background-color: black;
			border-radius: 15px;
			input{
				display: block;
				font-family: Ubuntu;
				font-weight: 300;
				padding: 12px;
				margin-bottom: 12px;
				font-size: 20px;
				border: 0;
				border-bottom: 2px dotted;
				background-color: transparent;
				color: white;
			}
			h3 {
				font-weight: 300;
				font-size: 16px;
				margin-top: 40px;
				color: #7F3649;
			}
		}
	}
	.register {
		width: 250px;
		height: 330px;
		overflow: hidden;
		margin: 12% auto;
		padding: 20px;
		background-color: black;
		border-radius: 15px;
		input{
			display: block;
			font-family: Ubuntu;
			font-weight: 300;
			padding: 12px;
			margin-bottom: 12px;
			font-size: 20px;
			border: 0;
			border-bottom: 2px dotted;
			background-color: transparent;
			color: white;
		}
		h3 {
				font-weight: 300;
				font-size: 16px;
				margin-top: 40px;
				color: #7F3649;
		}
	}
	.saveSongForm {
		width: 250px;
		height: 330px;
		margin: 12% auto;
		padding: 20px;
		background-color: black;
		border-radius: 15px;
		input{
			display: block;
			font-family: Ubuntu;
			font-weight: 300;
			padding: 12px;
			margin-bottom: 12px;
			font-size: 20px;
			border: 0;
			border-bottom: 2px dotted;
			background-color: transparent;
			color: white;
		}
	}
	.userView {
		width: 350px;
		height: 400px;
		margin: 12% auto;
		padding: 20px;
		background-color: black;
		border-radius: 15px;
		.songsContainer{
			margin-left: 20px;
			font-size: 20px;
			.songObject{
				display: inline-flex;
				margin-top: 10px;
				h2{
					width: 225px;
					&:hover {
						cursor: pointer;
						color: #166C3F;
					}
				}
			}
		}
	}
	i#delete {
		font-size: 16px;
		color: #7F3649;
		&:hover {
			cursor: pointer;
			color: #FF81A1;
		}
	}	
	i#exit {
		text-align: right;
		width: 100%;
		font-size: 24px;
		color: #7F3649;
		&:hover {
			cursor: pointer;
			color: #FF81A1;
		} 
	}
	button{
		border-radius: 8px;
		width: 100%;
		margin-top: 20px;
		font-weight: 400;
		font-family: Ubuntu;
		font-size: 20px;
		opacity: 1;
		background-color: transparent;
		color: whitesmoke;
		border: none;
		text-align: center;
		background-color: #166C3F;
		&:hover{
			background-color: #4FDE95;
			cursor: pointer;
		}
	}	
}