/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "reset";
@import "buttons";
@import "cells";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);

body {
	background-color: black;
	background-image: url('http://static.tumblr.com/571759f6f950b2f892cfd4bd6a8ed4fe/ansh2f3/Ha4n588gt/tumblr_static_czjkrwutkw008gwkwkcwcwwso.jpg'); 
	background-size: 100%;
}

.title {
	float: left;
	display: inline;
	h1 {
		font-family: Ubuntu;
		color: white;
		font-size: 60px;
		margin-left: 20px;

	}
}
