<!DOCTYPE html>
<html>
<head>
  <title>MotionActivatedMidi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>sequence</h1>
<div class="contentContainer">
	<div class="buttonDiv">
		<button class="play" id="play"></button>
		<button class="pause" id="pause"></button>
		<button class="color" id="blue"></button>
		<button class="color" id="yellow"></button>
		<button class="color" id="purple"></button>
		<button class="color" id="green"></button>
		<button class="clear" id="clear"></button>
	</div>
</div>	

</body>
</html>
