<!DOCTYPE html>
<html>
<head>
  <title>MotionActivatedMidi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>

    <div class="menu">
      <% if session[:current_user] %>
        <% @current_user ||= User.find(session[:current_user]) %>
        <h2 id="userViewLink"> <%= @current_user.username %> |</h2>
        <h2><div class="logOut">log out</div></h2>
          
      <% else %>
      
        <h2 id='loginLink'>log in |</h2>
        <h2 id="registerLink"> register</h2>
      
      <% end %>

    </div>
    
    <div class="modals">
      <modal class="logInModal">
         <div class="logIn"></div>
      </modal>

      <modal class="registerModal">
        <div class="register"></div>
      </modal>
      
      <modal class="userViewModal"></modal>
    </div>

  </header> 
  
 

    <div class="buttonColorDiv">
      <button class="color" id="blue"></button>
      <button class="color" id="yellow"></button>
      <button class="color" id="purple"></button>
      <button class="color" id="green"></button>
      <button class="color" id="red"></button>
      <button class="color" id="brown"></button>
    </div>
    
    <div class="buttonControlsDiv">
      <button class="play" id="play"></button>
      <button class="pause" id="pause"></button>
      <button class="clear" id="clear"></button>
      <button class="background"></button>
    </div>
    

  <div class="mainContainer">
    <div class="cellsContainer"></div>
  </div>    

</body>
</html>
