<!DOCTYPE html>
<html>
<head>
  <title>Sequence Pad</title>
  <link rel="shortcut icon" href="http://static.wixstatic.com/media/6c2e7f_5971b394c59cd45ab908a96679e3cc2a.png" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
 
<body>
  <header>

    <div class="menuDiv">
    
    </div>
    
    <div class="modals">
      <modal class="logInModal">
         <div class="logIn"></div>
      </modal>

      <modal class="registerModal">
        <div class="register"></div>
      </modal>
      
      <modal class="userViewModal">
        <div class="userView"></div>
      </modal>

      <modal class="saveSongModal">
        <div class="saveSongForm"></div>
      </modal>  
    </div>

  </header> 
    <div class="buttonColorDiv">
      <button class="color" id="blue"></button>
      <button class="color" id="yellow"></button>
      <button class="color" id="purple"></button>
      <button class="color" id="green"></button>
      <button class="color" id="red"></button>
      <button class="color" id="brown"></button>
    </div>
    
    <div class="buttonControlsDiv">
      <button class="play" id="play"><i class="fa fa-2x fa-play"></i></button>
      <button class="pause" id="pause"><i class="fa fa-2x fa-pause"></i></button>
      <button class="clear" id="clear"><i class="fa fa-2x fa-times"></i></button>
      <button class="save" id="save"><i class="fa fa-2x fa-floppy-o"></i></button>

    </div>
    

  <div class="mainContainer">
    <div class="cellsContainer"></div>
  </div>    


  <footer>
    <div class="footerContainer">
     <br><br><br>
      <p>
        Sequence Pad created by Ross Wittenberg and Sam Matthews <br>
        <a href="https://github.com/SamMatthews9/Sequence-Pad">GitHub Page</a> |
        <a href="http://sequencepad.com/">http://sequencepad.com/</a> | 
        <a href="https://www.google.com"> Personal Website 1</a> | 
        <a href="https://www.google.com"> Personal Website 2</a>  <br>
        Audio was recorded by Hansdale Hsu
      </p>
    </div>
  </footer>
</body>
</html>
