<!DOCTYPE html>
<html>
<head>
  <title>MotionActivatedMidi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Sequence Bro</h1>
<button class="play" id="play">play</button>
<button class="color" id="blue">blue</button>
<button class="color" id="yellow">yellow</button>
<button class="color" id="purple">purple</button>
<button class="color" id="green">green</button>
<button class="clear" id="clear">clear</button>

</body>
</html>
